<% content_for :title, 'Expense Sheet PDF' %>

<style>
  header {
    text-align: right;
  }

  h2 {
    margin: 10px 0 60px 0;
  }
</style>

<header>
  Test
</header>
<h2>
  <%= yield :title %>
</h2>
