<!DOCTYPE html>
<html>
<head>
  <%= wicked_pdf_stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
  <title><%= yield :title %></title>
  <meta charset="UTF-8">
</head>
<body>
<div class='container'>
  <%= yield %>
</div>
</body>
</html>
